ngx-spinner {
  display: block !important;
}
.editor{
   margin-top: 5px;
  /*margin-bottom: 500px;
  margin-left: 100px; */
  margin-right: 500px;
  position: fixed;
  width: 50%;
  height: 100%;
}


