<!-- HTML -->
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <header>Rules</header>
        <ul class="nav flex-column">
          
          <!--Tree starts-->

          <div class="container" style="margin-top:30px;">
            <div class="row">
              <div class="col-md-4">
                <div class="tree"> 
                  <ul id="tree1">
                    <li class="node" *ngFor="let mrd of mainRuleData" (click)="onNodeClicked(mrd)" >
                        >{{ mrd.ruleName }}
                      <ul *ngIf="mrd.isExpanded">
                        <li class="node" *ngFor="let crd of subRuleData">{{ crd.ruleName }}</li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          
          <!--Tree Ends-->
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-10 ml-sm-auto px-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2"></h1>
      </div>
    </main>
  </div>
</div>




<!--
  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
              
                <button class="borderless-button" matTreeNodeToggle
                      [attr.aria-label]="'Toggle ' + node.name">
                </button>
              
              <mat-icon class="mat-icon-rtl-mirror" matTreeNodeToggle>
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>              
              
              {{node.name}}
              
            </mat-tree-node>
          </mat-tree>



-->


<!--

 <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            
            <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding matTreeNodeToggle >
              
              <mat-icon class="mat-icon-rtl-mirror" matTreeNodeToggle>
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>  
              <div (click)="onNodeClicked(node)">
                {{node.name}}
              </div>
              <div matTreeNodeChildren *ngIf="node.children">
                <ng-container *ngFor="let childNode of node.children">
                  <mat-tree-node [dataSource]="dataSource" [treeControl]="treeControl" [node]="childNode" (click)="onChildNodeClicked(childNode)">
                    {{childNode.name}}
                  </mat-tree-node>
                </ng-container>
              </div>
            </mat-tree-node>

            <div matTreeNodeOutlet></div>
          </mat-tree>
        -->