 /* Hover effect for the '>' icon for the tree */
.hover:hover {
  opacity: 0.8;
  background-color: #eee;
  border: 1px solid #ccc;
}
  /* Sidebar styles */
  .sidebar {
    height: 100%;
    padding-bottom: 50px; 
    width: auto; /* Set a minimum width */
    min-width: 300px; /* Set a minimum width */
    max-width: 300px; 
    position: fixed;
    top: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc; 
    box-sizing: border-box; 
  }
  .header {
    padding: 15px;
    background: #435d7d;
    color: #fff;
    font-size: 24px;
    width: 284.9px;
  }
 
  /*Tree Style */
 
li{
  list-style: none;
}

/*Modal Styles*/
.modal .modal-dialog {
	max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}	
.modal form label {
	font-weight: normal;
}	


 


