
  /* Sidebar styles */
  .sidebar {
    height: 100%;
    width: auto; /* Set a minimum width */
    min-width: 300px; /* Set a minimum width */
    max-width: 500px; 
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f0f0f0;
    border: 1px solid #ccc; 
    padding: 20px; 
    box-sizing: border-box; 

  }
  .sidebar header {
    font-size: 1.2em;
    font-weight: bold;
    padding: 15px;
  }
 
  /*Tree Style */
 
li{
  list-style: none;
}




 


