<!-- HTML -->
<!-- <div class="container-fluid"> -->
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <div class="header">Rule List</div>
        <ul class="nav flex-column">
          
          <!--Tree starts-->
          <div class="container" style="margin-top:30px;">
            <div class="row">
              <div class="col-md-4">
                <div class="tree"> 
                  <ul id="tree1">

                    <li class="node" *ngFor="let mrd of mainRuleData">
                      <div (click)="onNodeClicked(mrd)" style="display: flex; align-items: center;">
                        <i class="material-icons hover">chevron_right</i>
                        <span>{{ mrd.ruleName }}</span>
                      </div>
                      <ul *ngIf="mrd.isExpanded">
                        <li class="node" *ngFor="let crd of mrd.subRules">
                          
                        <div (click)="onSubNodeClicked(crd)" style="display: flex; align-items: center;">
                            <i class="material-icons hover">chevron_right</i>
                          {{ crd.ruleName }}
                          </div> 
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--Tree Ends-->
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-6 px-4">
      
    </main>
  </div>
<!-- </div> -->

<div *ngIf="ruleType == 'languagerule'">
  <app-language-rule [subRuleDesc] = "subRuleDesc"></app-language-rule>
</div>
<div *ngIf="ruleType == 'table'">
  <app-decision [subRuleDesc] = "subRuleDesc"></app-decision>
</div>



