 /* Hover effect for the '>' icon for the tree */
.hover:hover {
  opacity: 0.8;
  background-color: #eee;
  border: 1px solid #ccc;
}
  /* Sidebar styles */
  .sidebar {
    height: 100%;
    width: auto; /* Set a minimum width */
    min-width: 300px; /* Set a minimum width */
    max-width: 500px; 
    position: fixed;
    top: 0;
    left: 0;
    /* margin-top: 59px; */
    background-color: #f0f0f0;
    border: 1px solid #ccc; 
    /* padding: 20px;  */
    box-sizing: border-box; 
    border-top: none;
  }
  .sidebar header {
    padding: 15px;
    background: #435d7d;
    color: #fff;
    font-size: 24px;

  }
 
  /*Tree Style */
 
li{
  list-style: none;
}




 


